@charset "utf-8";

/*
  Project: intabs demo
  Author: Lukasz Tyrala -> http://lukasztyrala.pl/
	Reset CSS -> http://developer.yahoo.com/yui/
*/

/* Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;} em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
/* End of reset */

body {
  border-top: 3px solid #333;
  margin: 0;
  padding: 0 0 64px 0;
  }

.demo {
  clear: both;
  margin: 32px 10% 64px 10%;
  width: 60%;
  }

.content {
  clear: both;
  margin: 32px 10% 64px 10%;
  width: 60%;
  }

.tabbed {
  background: #333;
  color: #999;
  font-size: 10px;
  line-height: 18px;
  padding: 5%;
  text-align: justify;
  }

h1 {
  clear: both;
  color: #333;
  display: block;
  font-size: 32px;
  line-height: 32px;
  margin: 32px 10% 64px 10%;
  width: 60%;
  }

h2 {
  border-bottom: 1px dotted #333;
  clear: both;
  color: #333;
  display: block;
  font-size: 16px;
  letter-spacing: -0.1em;
  line-height: 18px;
  margin: 32px 10% 18px 10%;
  width: 60%;
  }

.content p, .content li, .content code {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  }

p a {
  color: #f60;
  font-weight: bold;
  }

.demo p {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 18px 0;
  text-align: justify;
  width: 85%;
  }

/* TABS BASIC STYLES */

ul.tabs {
  clear: both;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  list-style: none inside;
  margin: 0;
  padding: 0;
  width: 100%;
  }

ul.tabs li {
  float: left;
  list-style: none inside;
  margin: 0 3px 0 0;
  }

ul.tabs li a {
  background: #fff;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0 9px 0 9px;
  text-decoration: none;
  }

ul.tabs li span {
  background: #fff;
  color: #333;
  display: block;
  font-weight: bold;
  padding: 0 9px 0 9px;
  text-transform: uppercase;
  }

ul.tabs li.current a {
  background: #333;
  color: #fff;
  display: block;
  padding: 0 9px 0 9px;
  text-decoration: none;
  }

ul.tabs li a:hover {
  color: #999;
  text-decoration: underline;
  }
